# Home Assistant core
aiohttp==3.6.1
astral==1.10.1
async_timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.7
certifi>=2019.9.11
contextvars==2.4;python_version<"3.7"
importlib-metadata==0.23
jinja2>=2.10.3
PyJWT==1.7.1
cryptography==2.8
pip>=8.0.3
python-slugify==4.0.0
pytz>=2019.03
pyyaml==5.1.2
requests==2.22.0
ruamel.yaml==0.15.100
voluptuous==0.11.7
voluptuous-serialize==2.3.0

# homeassistant.components.nuimo_controller
--only-binary=all nuimo==0.1.0

# homeassistant.components.dht
# Adafruit-DHT==1.4.0

# homeassistant.components.sht31
Adafruit-GPIO==1.0.3

# homeassistant.components.sht31
Adafruit-SHT31==1.0.2

# homeassistant.components.bbb_gpio
# Adafruit_BBIO==1.0.0

# homeassistant.components.homekit
HAP-python==2.6.0

# homeassistant.components.mastodon
Mastodon.py==1.5.0

# homeassistant.components.orangepi_gpio
OPi.GPIO==0.4.0

# homeassistant.components.essent
PyEssent==0.13

# homeassistant.components.github
PyGithub==1.43.8

# homeassistant.components.isy994
PyISY==1.1.2

# homeassistant.components.mvglive
PyMVGLive==1.1.4

# homeassistant.components.arduino
PyMata==2.20

# homeassistant.components.mobile_app
# homeassistant.components.owntracks
PyNaCl==1.3.0

# homeassistant.auth.mfa_modules.totp
PyQRCode==1.2.1

# homeassistant.components.rmvtransport
PyRMVtransport==0.2.9

# homeassistant.components.telegram_bot
PySocks==1.7.1

# homeassistant.components.switchbot
# PySwitchbot==0.6.2

# homeassistant.components.transport_nsw
PyTransportNSW==0.1.1

# homeassistant.components.vicare
PyViCare==0.1.2

# homeassistant.components.xiaomi_aqara
PyXiaomiGateway==0.12.4

# homeassistant.components.mcp23017
# homeassistant.components.rpi_gpio
# RPi.GPIO==0.7.0

# homeassistant.components.remember_the_milk
RtmAPI==0.7.2

# homeassistant.components.travisci
TravisPy==0.3.5

# homeassistant.components.twitter
TwitterAPI==2.5.10

# homeassistant.components.tof
# VL53L1X2==0.1.5

# homeassistant.components.waze_travel_time
WazeRouteCalculator==0.12

# homeassistant.components.yessssms
YesssSMS==0.4.1

# homeassistant.components.abode
abodepy==0.16.7

# homeassistant.components.mcp23017
######adafruit-blinka==1.2.1

# homeassistant.components.mcp23017
adafruit-circuitpython-mcp230xx==1.1.2

# homeassistant.components.androidtv
adb-shell==0.0.8

# homeassistant.components.adguard
adguardhome==0.3.0

# homeassistant.components.frontier_silicon
afsapi==0.0.4

# homeassistant.components.geonetnz_quakes
aio_geojson_geonetnz_quakes==0.11

# homeassistant.components.geonetnz_volcano
aio_geojson_geonetnz_volcano==0.5

# homeassistant.components.nsw_rural_fire_service_feed
aio_geojson_nsw_rfs_incidents==0.1

# homeassistant.components.ambient_station
aioambient==0.3.2

# homeassistant.components.asuswrt
aioasuswrt==1.1.22

# homeassistant.components.automatic
aioautomatic==0.6.5

# homeassistant.components.aws
aiobotocore==0.10.4

# homeassistant.components.dnsip
aiodns==2.0.0

# homeassistant.components.esphome
aioesphomeapi==2.6.1

# homeassistant.components.freebox
aiofreepybox==0.0.8

# homeassistant.components.yi
aioftp==0.12.0

# homeassistant.components.harmony
aioharmony==0.1.13

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors==0.7.0

# homeassistant.components.hue
aiohue==1.9.2

# homeassistant.components.imap
aioimaplib==0.7.15

# homeassistant.components.apache_kafka
aiokafka==0.5.1

# homeassistant.components.lifx
aiolifx==0.6.7

# homeassistant.components.lifx
aiolifx_effects==0.2.2

# homeassistant.components.keyboard_remote
aionotify==0.2.0

# homeassistant.components.notion
aionotion==1.1.0

# homeassistant.components.hunterdouglas_powerview
aiopvapi==1.6.14

# homeassistant.components.switcher_kis
aioswitcher==2019.4.26

# homeassistant.components.unifi
aiounifi==11

# homeassistant.components.wwlln
aiowwlln==2.0.2

# homeassistant.components.airly
airly==0.0.2

# homeassistant.components.aladdin_connect
aladdin_connect==0.3

# homeassistant.components.alarmdecoder
alarmdecoder==1.13.2

# homeassistant.components.alpha_vantage
alpha_vantage==2.1.2

# homeassistant.components.ambiclimate
ambiclimate==0.2.1

# homeassistant.components.amcrest
amcrest==1.5.3

# homeassistant.components.androidtv
androidtv==0.0.34

# homeassistant.components.anel_pwrctrl
anel_pwrctrl-homeassistant==0.0.1.dev2

# homeassistant.components.anthemav
anthemav==1.1.10

# homeassistant.components.apcupsd
apcaccess==0.0.13

# homeassistant.components.apns
apns2==0.3.0

# homeassistant.components.apprise
apprise==0.8.2

# homeassistant.components.aprs
aprslib==0.6.46

# homeassistant.components.aqualogic
aqualogic==1.0

# homeassistant.components.arcam_fmj
arcam-fmj==0.4.3

# homeassistant.components.ampio
asmog==0.0.6

# homeassistant.components.asterisk_mbox
asterisk_mbox==0.5.0

# homeassistant.components.dlna_dmr
# homeassistant.components.upnp
async-upnp-client==0.14.12

# homeassistant.components.aten_pe
atenpdu==0.3.0

# homeassistant.components.aurora_abb_powerone
aurorapy==0.2.6

# homeassistant.components.stream
######av==6.1.2

# homeassistant.components.avea
######avea==1.4

# homeassistant.components.avion
# avion==0.10

# homeassistant.components.axis
axis==25

# homeassistant.components.azure_event_hub
azure-eventhub==1.3.1

# homeassistant.components.azure_service_bus
azure-servicebus==0.50.1

# homeassistant.components.baidu
baidu-aip==1.6.6

# homeassistant.components.modem_callerid
basicmodem==0.7

# homeassistant.components.linux_battery
batinfo==0.4.2

# homeassistant.components.eddystone_temperature
# beacontools[scan]==1.2.3

# homeassistant.components.scrape
beautifulsoup4==4.8.1

# homeassistant.components.beewi_smartclim
######beewi_smartclim==0.0.7

# homeassistant.components.zha
bellows-homeassistant==0.11.0

# homeassistant.components.bmw_connected_drive
bimmer_connected==0.6.2

